*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f2f2f2;

}

a {
    text-decoration: none;
}

.main-navigation {
    color: #000000;
    background-color: #FFFFFF
}

.site-navigation {
    list-style: none;

}

.site-navigation li{
    display:inline-block;
    font-weight: bold;
}

.main-navigation a,
.site-navigation a {
    color: #000000;
}

.site-navigation a:focus,
.main-navigation a:focus {
    color: #333333;
}

.main-navigation a:hover,
.site-navigation a:hover {
    color: #81b3d2;
}

.blue-couse-wrapper {
    background-color: #81b3d2;
    color: #ffffff;
}

.features-title {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}

.features-title p:first-child {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.couse {
    text-align: center;
}

.features,
.features.item {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}


.interest {
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}

.interest-text p:first-child {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

}

.search-hotel-button {
    display: block;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 568px;
    min-height: 86px;
    background-color: #766357;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;
}

.search-hotel-button:hover {
    background-color: #604e43;
}

.search-hotel-button:active {
    background-color: #503e33;
    color: #cacaca;
}

.hotel-search {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;

}

.hotel-search label {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-weight: bold;
}

.hotel-search input {
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: #f2f2f2;
    color: #000000;
    font-weight: bold;
}

.button-index-form {
    border: none;
    outline: none;
    display: block;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 568px;
    min-height: 86px;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.button-index-form:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.button-index-form:active {
    background-color: #5496bd;
    color: #cacaca;
}

.social-links-list li{
    list-style: none;
    display: inline-block;
}

.visitsedona-footer-link a{
    font-size: 21px;
    font-weight: 26px;
    color: #333333;
}

.social-links-list a{
    color: #333333;
}

.developer-text {
    color: #333333;
}

/* Hotels style */

.chose-housing {
    background-image: url(../img/inner-form-img.jpg);
    background-repeat: no-repeat;
}

.chose-housing label{
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;

}

.chose-housing input{
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 21px;

}

.chose-housing h2 {
    color: #ffffff;
    font-weight: bold;
}

.white-span {
    color: #ffffff;
}

.find-results {
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 18px;
}

.find-results li{
    list-style: none;
    display: inline;
}

.find-results ul {
    margin: 0;
    padding: 0;
}

.type-rating-style {
    color: #cacaca;
    border-bottom: 1px dashed #81b3d2;
}

.type-rating-style.active-sort {
    border: none;
    color: #81b3d2;
}

.more-info {
    background-color: #81b3d2;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 4px;
}

.book-it {
    background-color: #766357;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 4px;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
    background-color: #5496bd;
    color: #cacaca;
}

.book-it:hover {
    background-color: #604e43;
}

.book-it:active {
    background-color: #503e33;
    color: #cacaca;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
  background-color: #cacaca;
}
