*,
*::before,
*::after {
  box-sizing:  inherit;
;
}

html {
  box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f2f2f2;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*Header start*/

.main-navigation {
    min-height: 56px;
    color: #000000;
    background-color: #FFFFFF
}

.main-navigation {
    position: relative;
}

.main-navigation-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 531px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.site-navigation {
    margin: 0;
    display: flex;
    list-style: none;
    padding-left: 72px;
    padding-right: 72px;
}

.site-navigation li{
    font-weight: bold;
}

.main-navigation{
    padding-top: 15px;
}

.site-navigation a{

}

.nav-one {
    width: 240px;
    padding-left: ;
    text-align: left;
}

.nav-two {
    width: 240px;
    margin-right: auto
    text-align: left;
}

.nav-three {
    padding-left: 248px;
    text-align: right;
}

.nav-four {
    width: 240px;
    padding-left: 165px;
    text-align: right;
}

.main-navigation a,
.site-navigation a {
    color: #000000;
}

.site-navigation a:focus,
.main-navigation a:focus {
    color: #333333;
}

.main-navigation a:hover,
.site-navigation a:hover {
    color: #81b3d2;
}

/*Header end*/

.promo-block {
    background-color: #ffffff;
    min-height: 510px;
}

.blue-couse-wrapper {
    color: #ffffff;
}

.couse-wrapper {
    display: flex;
}

.wrapper-gray {
    text-align: center;
    min-width: 400px;
    height: 255px;
}

.couse-gray  p{
    min-width: 270px;
    margin-top: 20px;
    padding-right: 10px;
}

.redistrub-3 {
    padding-right: 29px;
}

.couse-blue {
    background-color: #81b3d2;
}


.features-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 210px;
    padding-top: 32px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
}

.features-title p:first-child {
    display: block;
    width: 460px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.couse {
    min-width: 400px;
    min-height: 250px;
    text-align: center;
    line-height: 21px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;

}

.couse h2 {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
}

.redistrub-1 {
    width: 300px;
    margin-top: 20px;
    padding-right: 20px;
}

.redistrub-2 {
    margin-top: 20px;
}

.couse-image {
    height: 256px;
}

.features {
    display: flex;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.features-item {
    position: relative;
    padding-top: 143px;
    padding-left: 55px;
    padding-right: 55px;
    min-height: 330px;
    width: 400px;
    line-height: 21px;
}

.features-item h2 {
    margin-bottom: 24px;
}

.features-item::before {
    content: "";
    position: absolute;
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
}

.features-item-one::before {
    top: 59px;
    left: 161px;
    background-image: url(../img/house.svg);
}

.features-item-two::before {
    top: 60px;
    left: 162px;
    background-image: url(../img/food.svg);
}

.features-item-three::before {
    top: 55px;
    left: 168px;
    background-image: url(../img/suvenirs.svg);
}

.interest {
    padding-top: 18px;
    min-height: 290px;
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}

.interest-text h2 {
    margin-bottom: 25px;
    margin-top: 32px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

}

.interest-text p:first-child {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.search-hotel-button {
    display: block;
    top: 205px;
    left: 317px;
    width: 566px;
    min-height: 87px;
    padding-top: 35px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    background-color: #766357;
    color: #ffffff;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
}

.search-hotel-button:hover {
    background-color: #604e43;
}

.search-hotel-button:active {
    background-color: #503e33;
    color: #cacaca;
}

.hotel-search {
    width: 570px;
    min-height: 400px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    border: 1px solid black;
}

.hotel-search input[type="text"]:hover,
.hotel-search input[type="number"]:hover {
  background-color: #ebebeb;
}

.hotel-search label {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-weight: bold;
}

.hotel-search input {
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: #f2f2f2;
    color: #000000;
    font-weight: bold;
}

.button-index-form {

}

.hotel-search input[type="submit"] {
    width: 100%;
  height: 58px;
  font-size: 21px;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.map {
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    min-height: 590px;
}

.hotel-search input[type="submit"]:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-search input[type="submit"]:active {
    background-color: #5496bd;
    color: #cacaca;
}

/*Footer start*/

footer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 120px;
}

.social-links-list li{
    list-style: none;
}

.social-links-list {
    padding-top: 25px;
    padding-left: 125px;
    padding-right: 125px;
}

.visitsedona-footer-link {
    min-width: 400px;
    text-align: center;
    padding-top: 50px;
}

.visitsedona-footer-link a{
    color: #000;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.social-links ul{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 400px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active svg {
    opacity: 0.3;
}

.dev-wrapper {
    display: block;
    min-width: 400px;
}

.developer-text {
    min-width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.dev-by {

    min-width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.developer-text a{

}

.developer-text svg{
    min-width: 115px;
    min-height: 40px;
}

.developer-text:hover path,
.developer-text:focus path {
    fill: #81b3d2;
}

.developer-text:active path {
    fill: #bdbbbc;
}

/*Footer end*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Hotels style */

.infrastructure {
    display: flex;
    flex-direction: column;
}
.infrastructure-housetype-price,
.infrastructure-housetype-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 28px;
}

.type-of-house {
    display: flex;
    flex-direction: column;
}

.filter-range {
  width: 330px;
  margin-right: 75px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.chose-housing {
    display: flex;
    justify-content:  space-around;
    align-items: center;
    min-height: 215px;
    padding-left:  72px;
    padding-right: 72px;
    background-image: url(../img/inner-form-img.jpg);
    background-repeat: no-repeat;

}

.chose-housing label{
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;

}

.chose-housing input{
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 21px;

}

.chose-housing h2 {
    color: #ffffff;
    font-weight: bold;
}

.white-span {
    color: #ffffff;
}

.find-results {
    display: flex;
    justify-content:  space-around;

    background-color: #ffffff;
    min-height: 87px;
    font-size: 12px;
    font-weight: 18px;
}

.find-results li{
    list-style: none;
}

.find-results ul {

}

.results-items {
    display: flex;
    min-height: 150px;
    padding-top: 22px;
    padding-bottom: 30px;
    padding-left: 73px;
    padding-right: 73px;
    border-top: 1px solid #cacaca;
    background-color: #ffffff;
}

.results-items p{
    margin-right: auto;
}

.last-result {
    border-bottom: 1px solid #cacaca;
}

.type-rating-style {
    color: #cacaca;
    border-bottom: 1px dashed #81b3d2;
}

.type-rating-style.active-sort {
    border: none;
    color: #81b3d2;
}

.more-info {
    background-color: #81b3d2;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 4px;
}

.book-it {
    background-color: #766357;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 4px;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
    background-color: #5496bd;
    color: #cacaca;
}

.book-it:hover {
    background-color: #604e43;
}

.book-it:active {
    background-color: #503e33;
    color: #cacaca;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
  background-color: #cacaca;
}
