*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f2f2f2;

}

a {
    text-decoration: none;
}

.main-navigation {
    color: #000000;
    background-color: #FFFFFF
}

.site-navigation {
    list-style: none;

}

.site-navigation li{
    display:inline-block;
    font-weight: bold;
}

.main-navigation a,
.site-navigation a {
    color: #000000;
}

.site-navigation a:focus,
.main-navigation a:focus {
    color: #333333;
}

.main-navigation a:hover,
.site-navigation a:hover {
    color: #81b3d2;
}

.blue-couse-wrapper {
    background-color: #81b3d2;
}

.features-title {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
}

.features-title p:first-child {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.couse {
    text-align: center;
}

.features,
.features.item {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}


.interest {
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}

.interest-text p:first-child {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

}

.search-hotel-button {
    font-size: 21px;
    line-height: 26px;
}
.hotel-search {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;

}

.hotel-search label {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-weight: bold;
}

.hotel-search input {
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: #f2f2f2;
    color: #000000;
    font-weight: bold;
}

.social-links-list li{
    list-style: none;
    display: inline-block;
}

.visitsedona-footer-link {
    font-size: 21px;
    font-weight: 26px;
}
