*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    ;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);/* Параметры тени */
}

a {
    text-decoration: none;
}
/*Header start*/

.main-navigation {
    min-height: 56px;
    color: #000000;
    background-color: #FFFFFF;
}

.main-navigation {
    position: relative;
}

.main-navigation-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 531px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 72px;
    padding-right: 72px;
}

.site-navigation li {
    font-weight: bold;
    width: 240px;
}

.main-navigation {
    padding-top: 15px;
}

.nav-one {
    width: 240px;
    text-align: left;
}

.nav-two {
    width: 240px;
    margin-right: auto;
    text-align: left;
}

.nav-three {
    margin-left: auto;
    text-align: right;
}

.nav-four {
    width: 240px;
    text-align: right;
}

.main-navigation a,
.site-navigation a {
    color: #000000;
}

.site-navigation a:focus,
.main-navigation a:focus {
    color: #333333;
}

.main-navigation a:hover,
.site-navigation a:hover {
    color: #81b3d2;
}
/*Header end*/

.promo-block {
    background-color: #ffffff;
    min-height: 510px;
}

.blue-couse-wrapper {
    background-color: #81b3d2;
    color: #ffffff;
}

.couse-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper-gray {
    text-align: center;
    min-width: 400px;
    height: 255px;
}

.features-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 210px;
    padding-top: 32px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
}

.features-title p:first-child {
    display: block;
    width: 460px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.couse {
    width: 400px;
    min-height: 250px;
    text-align: center;
    line-height: 21px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.couse-gray-middle {
    padding-right: 60px;
    padding-left: 60px;
}

.couse-blue-one {
    padding-left: 55px;
    padding-right: 55px;
}

.couse p {
    margin-top: 19px;
}

.couse-blue-two {
    padding-right: 45px;
    padding-left: 45px;
}

.couse h2 {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
}

.couse-gray-middle h2 {
    padding-right: 55px;
    padding-left: 55px;
}

.redistrub-1 {
    padding: 0;
    margin: 0;
}

.redistrub-2 {
    margin-top: 20px;
}

.couse-image {
    height: 256px;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.features-item {
    position: relative;
    padding-top: 143px;
    padding-left: 55px;
    padding-right: 55px;
    min-height: 330px;
    width: 400px;
    line-height: 21px;
}

.features-item h2 {
    margin-bottom: 24px;
}

.features-item::before {
    content: "";
    position: absolute;
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
}

.features-item-one::before {
    top: 59px;
    left: 161px;
    background-image: url(../img/house.svg);
}

.features-item-two::before {
    top: 60px;
    left: 162px;
    background-image: url(../img/food.svg);
}

.features-item-three::before {
    top: 55px;
    left: 168px;
    background-image: url(../img/suvenirs.svg);
}

.interest {
    position: relative;
    padding-top: 18px;
    min-height: 290px;
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}

.interest-text h2 {
    margin-bottom: 25px;
    margin-top: 32px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.interest-text p:first-child {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.search-hotel-button {
    display: block;
    top: 205px;
    left: 317px;
    width: 566px;
    min-height: 87px;
    padding-top: 35px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    background-color: #766357;
    color: #ffffff;
    font-weight: 700;
    font-family: "PT Sans", "Arial", sans-serif;
}

.search-hotel-button:hover {
    background-color: #604e43;
}

.search-hotel-button:active {
    background-color: #503e33;
    color: #cacaca;
}
/*index-form-start*/

.search-form {
    position: absolute;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    height: 400px;
    width: 566px;
    margin-left: 317px;
}

.search-form-content {
    background-color: #ffffff;
    padding: 56px 53px;
    min-height: 285px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.in-row {
    position: relative;
    margin-bottom: 30px;
}

.out-row {
    position: relative;
    margin-bottom: 30px;
}

.out-row:hover path {
    fill: #000000;
}

.out-row:active path {
    fill: #81b3d2;
}

.in-row label {
    margin-right: 21px;
}

.out-row label {
    margin-right: 17px;
}

.adults {
    margin-right: 50px;
}

.adults label {
    margin-right: 34px;
}

.kids label {
    margin-right: 21px;
}

.search-form-content a {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 7px;
    top: 7px;
}

.search-form input[type="text"] {
    width: 343px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    color: #000000;
    text-transform: uppercase;
    padding: 0 40px 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.search-form .adults,
.search-form .kids {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 55px;
}

.search-form input[id="adults"],
.search-form input[id="kids"] {
    width: 115px;
    padding: 0 40px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.search-form .input-wrapp {
    width: 114px;
    position: relative;
}

.search-form-minus {
    display: block;
    position: absolute;
    left: 0px;
    top: -10px;
    width: 36px;
    height: 38px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.search-form-minus::before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 16px;
    width: 10px;
    height: 2px;
    background-color: #a9a9a9;
}

.search-form-minus:hover::before {
    background-color: #000000;
}

.search-form-minus:active::before {
    background-color: #81b3d2;
}

.search-form-plus {
    display: block;
    position: absolute;
    right: 0px;
    top: -10px;
    width: 36px;
    height: 38px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.search-form-plus::before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 14px;
    width: 10px;
    height: 2px;
    background-color: #a9a9a9;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.search-form-plus::after {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 14px;
    width: 10px;
    height: 2px;
    background-color: #a9a9a9;
}

.search-form-plus:hover::before,
.search-form-plus:hover::after {
    background-color: #000000;
}

.search-form-plus:active::before,
.search-form-plus:active::after {
    background-color: #81b3d2;
}

.search-form input[type="submit"] {
    width: 100%;
    height: 58px;
    font-size: 21px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    font-weight: 700;
    font-family: "PT Sans", "Arial", sans-serif;
}

.search-form input[type="submit"]:hover {
    background-color: #669ec0;
}

.search-form input[type="submit"]:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.map {
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-color: #cacaca;
    min-height: 592px;
}

.hotel-search input[type="submit"]:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-search input[type="submit"]:active {
    background-color: #5496bd;
    color: #cacaca;
}
/*Footer start*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 120px;
}

.footer-index {
    margin-top: -120px;
}

.social-links-list li {
    list-style: none;
}

.social-links-list {
    padding-top: 25px;
    padding-left: 125px;
    padding-right: 125px;
}

.visitsedona-footer-link {
    min-width: 400px;
    text-align: center;
    padding-top: 50px;
}

.visitsedona-footer-link a {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.social-links ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 400px;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 47px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active svg {
    opacity: 0.3;
}

.dev-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2px;
}

.developer-text {
    display: block;
    padding-top: 8px;
    padding-left: 3px;
}

.dev-by {
    display: inline-block;
    width: 78px;
}

.developer-text svg {
    width: 115px;
    height: 40px;
}

.developer-text:hover path,
.developer-text:focus path {
    fill: #81b3d2;
}

.developer-text:active path {
    fill: #bdbbbc;
}
/*Footer end*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Hotels style */

.infrastructure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 160px;
}

.infrastructure-housetype-price,
.infrastructure-housetype-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 28px;
}

.infrastructure label {
    margin-bottom: 25px;
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-checkbox {
    display: none;
}

.filter-checkbox + label {
    position: relative;
    line-height: 20px;
    padding-left: 40px;
    cursor: pointer;
}

.filter-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
}

.type-of-house {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 119px;
}

.type-of-house label {
    margin-bottom: 25px;
}

.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.filter-range-title {
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 22px;
    margin-left: 12px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    line-height: 5px;
    width: 82px;
    padding-left: 65px;
    padding-top: 6px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 29px;
}

.range-controls .scale {
    width: 313px;
    margin-left: 17px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -10px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.range-toggle-min {
    left: 13px;
}

.range-toggle-max {
    left: 265px;
}

.btn-transparent {
    display: block;
    margin: 8px auto;
    padding: 6px 34px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    background-color: #ffffff;
    color: #000000;
}

.chose-housing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 217px;
    padding-left: 72px;
    padding-right: 72px;
    background-image: url(../img/inner-form-img.jpg);
    background-repeat: no-repeat;
}

.chose-housing label {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
}

.chose-housing input {
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 21px;
}

.chose-housing h2 {
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
}

.white-span {
    color: #ffffff;
}

.find-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-color: #fff;
    min-height: 87px;
    font-size: 12px;
    padding-top: 32px;
}

.find-results h2 {
    font-size: 21px;
    margin-left: 72px;
    margin-top: 0;
    margin-bottom: 0;
}

.sort-text-style {
    height: 20px;
    margin-top: 0;
    margin-left: 48px;

}

.find-results li {
    list-style: none;
}

.find-results ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.arrows {
    margin-left: auto;
    margin-right: 73px;
    margin-top: 0;
}

.arrow-up {
    padding-right: 8px;
}

.arrow-up:hover path {
    fill: #000000;
}

.arrow-up:active path {
    fill: #81b3d2;
}

.hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 73px;
    padding-right: 73px;
    border-top: 1px solid #cacaca;
    background-color: #ffffff;
}

.hotel-description {
    width: 300px;
    height: 100px;
    padding-left: 30px;
    padding-top: 6px;
}

.hotel-description h2 {
    display: inline-block;
    margin: 0;
    padding-bottom: 5px;
}

.hotel-description a:first-child {
    margin: 0;
    padding: 0;
}

.hotel-description span {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5px;
    min-width: 108px;
}

.hotel-description a {
    padding-left: 16px;
    padding-right: 16px;
}

.hotel-name a {
    color: #000000;
}

.hotel-name a:hover {
    color: #81b3d2;
}

.hotel-name a:active {
    color: #cacaca;
}

.hotels img {
    margin-top: 10px;
}

.rating {
    margin-left: auto;
}

.rating p {
    background-color: #f2f2f2;
    margin-top: 34px;
    padding-left: 19px;
}

.stars {
    display: block;
    width: 90px;
    height: 30px;
}

.star-one {
    margin-top: 9px;
    margin-left: 25px;
    width: 89px;
    background-image: url(../img/star.svg);
    background-repeat: space;
}

.star-two {
    margin-top: 9px;
    margin-left: 51px;
    width: 63px;
    background-image: url(../img/star.svg);
    background-repeat: space;
}

.star-three {
    margin-top: 9px;
    margin-left: 72px;
    width: 41px;
    background-image: url(../img/star.svg);
    background-repeat: space;
}

.last-result {
    border-bottom: 1px solid #cacaca;
}

.type-rating-style {
    color: #cacaca;
    margin-left: 33px;
    border-bottom: 1px dotted #81b3d2;
}

.type-rating-style:hover {
    color: #81b3d2;
}

.type-rating-style:active {
    color: #000000;
    border-bottom: none;
}

.type-rating-style.active-sort {
    border: none;
    margin-left: 15px;
    color: #81b3d2;
}

.more-info {
    background-color: #81b3d2;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 4px;
}

.book-it {
    background-color: #766357;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 4px 4px 4px;
    text-align: center;
    margin-right: 4px;
}

.more-info:hover {
    background-color: #669ec0;
}

.more-info:active {
    background-color: #5496bd;
    color: #cacaca;
}

.book-it:hover {
    background-color: #604e43;
}

.book-it:active {
    background-color: #503e33;
    color: #cacaca;
}
